[client]
port                      = 3306
socket                    = /var/run/mysqld/mysqld.sock
default-character-set     = utf8

[mysqld_safe]
socket		              = /var/run/mysqld/mysqld.sock
nice                      = 0

[mysqld]
user                      = mysql
pid-file                  = /var/run/mysqld/mysqld.pid
socket                    = /var/run/mysqld/mysqld.sock
port                      = 3306
basedir                   = /usr
datadir                   = /var/lib/mysql
tmpdir                    = /tmp
character-set-server      = utf8

lc-messages-dir           = /usr/share/mysql
skip-external-locking
skip-name-resolve
symbolic-links            = 0
sql_mode                  = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

max_allowed_packet	      = 32M
thread_stack              = 512K
thread_cache_size         = 128
myisam-recover            = BACKUP

# log相关
# 记录错误日志
log_error                 = /var/log/mysql/error.log
# 设置慢查询日志记录：超过3秒的查询记录日志log-slow-queries
long_query_time           = 3
log-slow-queries          = /var/log/mysql/log/slowquery.log
# 把对数据进行修改的所有SQL命令(也就是INSERT、UPDATE和DELETE命令)
# 以二进制格式记入日志(二进制变更日志，binary update log)
# 设置log_bin日志滚动更新大小为：4GB
log_bin                   = /var/log/mysql/log/mysql-bin.log
max_binlog_size           = 4096M

max_connections           = 4096
open_files_limit          = 1024
table_open_cache          = 512
table_definition_cache    = 512

innodb_buffer_pool_size   = 512M
innodb_log_file_size      = 4096M

# 设置大小写不敏感
lower_case_table_names    = 1
# 默认开启事件
event_scheduler           = ON

[mysqldump]
quick
quote-names
max_allowed_packet        = 64M

[mysql]
default-character-set     = utf8

!includedir /etc/mysql/conf.d/